/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #bac3d3;
}

/* navbar */

.container-fluid {
    padding: 20px 5%;
}

.offcanvas-body {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.nav-item {
    border-radius: 22px;
}

.nav-item:hover {
    background-color: #1F1F22;
}

.nav-link {
    text-transform: capitalize;
    font-size: 1.2rem;
    color: #1F1F22;
}

.nav-link:hover {
    color: #bac3d3;
}

.login {
    border-radius: 22px;
    border: solid 1px #1F1F22;
}

.login:hover {
    background-color: #1F1F22;
}

@media screen and (max-width: 991px) {
    .offcanvas-body {
        flex-direction: column;
    }

    #offcanvasNavbar {
        box-shadow: none;
        border: 0;
        background-color: rgba(255, 255, 255, 0.15) ;
        backdrop-filter: blur(15px);
        color: #bac3d3;
    }

    .nav-link {
        color: #bac3d3;
    }

    .login {
        border: solid 1px #bac3d3;
    }

    .login:hover {
        border: solid 1px #1F1F22;
    }
}



