@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
* {
  padding: 0;
  margin: 0;
}

:root {
  --time: 100s;
}

body {
  background-color: #eff6fd;
}

img {
  view-timeline-name: --img;
  view-timeline-axis: block;
  animation-timeline: --img;
  animation-name: show;
  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}

#navbar {
  width: 100%;
  height: auto;
}
#navbar .navbar {
  width: 100%;
}
#navbar .navbar .container .logo .logo_img {
  width: 50px;
}
#navbar .navbar .container .sidebar .offcanvas-body {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#navbar .navbar .container .sidebar .offcanvas-body .navbar-nav {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
#navbar .navbar .container .sidebar .offcanvas-body .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  color: #fbfbff;
}
#navbar .navbar .container .sidebar .offcanvas-body .navbar-nav .nav-item .nav-link:hover {
  color: #5f509f;
}
#navbar .navbar .container .sidebar .offcanvas-body .login .nav-link {
  color: #fbfbff;
  text-transform: uppercase;
}
#navbar .navbar .container .sidebar .offcanvas-body .login .nav-link:hover {
  color: #5f509f;
}

@media screen and (max-width: 991px) {
  #navbar .navbar .container .sidebar {
    background-color: rgba(165, 146, 221, 0.15);
    backdrop-filter: blur(20px);
    color: #fbfbff;
  }
  #navbar .navbar .container .sidebar .offcanvas-header .ofcanvas-tittle {
    text-transform: uppercase;
    color: #fbfbff;
  }
  #navbar .navbar .container .sidebar .offcanvas-body {
    flex-direction: column;
  }
}
#footer {
  background-color: #121213;
  width: 100%;
  height: auto;
  padding: 20px 10%;
}
#footer .footer__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
  gap: 20px;
  grid-auto-rows: auto;
  text-align: center;
}
#footer .footer__container .container__content {
  margin-top: 20px;
}
#footer .footer__container .container__content .content__title {
  color: #fbfbff;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (max-width: 623px) {
  #footer .footer__container .container__content .content__title {
    font-size: 1.6rem;
  }
}
#footer .footer__container .container__content .content__txt {
  color: #fbfbff;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 20px;
}
#footer .footer__container .container__content .content__social .social__icon {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 45px;
  height: 45px;
  border: solid 2px #fbfbff;
  border-radius: 50%;
  color: #fbfbff;
  margin-right: 5px;
  transition: all 300ms ease-out;
}
#footer .footer__container .container__content .content__social .social__icon:hover {
  border: solid 2px #4e446e;
  color: #4e446e;
}
#footer .footer__container--2 {
  height: auto;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: end;
  color: #fbfbff;
  opacity: 0.5;
  margin-top: 20px;
  text-align: center;
}
@media screen and (max-width: 623px) {
  #footer .footer__container--2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1174px) {
  #footer .container__content--social {
    grid-column: span 2;
  }
}
@media screen and (max-width: 767px) {
  #footer .container__content--social {
    grid-column: span 1;
  }
}
@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mandoLaunch {
  0% {
    transform: translate(-50vh, 0px);
  }
  100% {
    transform: translate(50vh, -900px) rotate(-360deg);
  }
}
@keyframes earthEspin {
  100% {
    transform: rotate(-360deg);
    transition: transform 10s;
  }
}
@keyframes moonEspin {
  100% {
    transform: rotate(-360deg);
    transition: transform 5s;
  }
}
@keyframes robotMove {
  100% {
    transform: translate(-180px, -180px);
  }
}
@keyframes robotRotate {
  100% {
    transform: rotate(-720deg);
  }
}
@keyframes glowinStars {
  40% {
    opacity: 0.2;
  }
  90%, 100% {
    opacity: 1;
    transform: scale(1.1);
    border: 50%;
  }
}
#banner {
  background: url(../img/fondo.svg) no-repeat center/cover;
  background-position: 69%;
  height: auto;
  padding: 80px 10%;
}
#banner .banner__content {
  width: 55%;
}
@media screen and (max-width: 991px) {
  #banner .banner__content {
    width: 100%;
    text-align: center;
  }
}
#banner .banner__content .content__sub {
  color: #a592dd;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-transform: uppercase;
  -webkit-animation: tracking-in-expand 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@media screen and (max-width: 774px) {
  #banner .banner__content .content__sub {
    font-size: 2rem;
  }
}
@media screen and (max-width: 774px) {
  #banner .banner__content .content__sub {
    font-size: 1.6rem;
  }
}
#banner .banner__content .content__title {
  font-family: "Monoton", cursive;
  color: #fbfbff;
  font-size: 5rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 40px;
  -webkit-animation: tracking-in-expand 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@media screen and (max-width: 774px) {
  #banner .banner__content .content__title {
    font-size: 4rem;
  }
}
@media screen and (max-width: 623px) {
  #banner .banner__content .content__title {
    font-size: 3rem;
  }
}
#banner .banner__content .content__button {
  color: #fbfbff;
  background-color: #a592dd;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 16px;
  border: none;
  padding: 15px 100px;
  text-transform: uppercase;
  margin-bottom: 20px;
  transition: all 300ms ease-out;
}
#banner .banner__content .content__button:hover {
  background-color: #4e446e;
}
@media screen and (max-width: 623px) {
  #banner .banner__content .content__button {
    font-size: 1rem;
  }
}
#banner .banner__content .content__social {
  margin-top: 20px;
}
#banner .banner__content .content__social .social__icon {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 45px;
  height: 45px;
  border: solid 2px #fbfbff;
  border-radius: 50%;
  color: #fbfbff;
  margin-right: 5px;
  transition: all 300ms ease-out;
}
#banner .banner__content .content__social .social__icon:hover {
  border: solid 2px #4e446e;
  color: #4e446e;
}

#gclass {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 40px 10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
  gap: 20px;
  grid-auto-rows: 400px;
}
#gclass .gclass__card {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#gclass .gclass__card .card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
#gclass .gclass__card .card__body {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  top: 0;
  right: -100%;
  background: rgba(41, 71, 117, 0.5215686275);
  border-radius: 16px;
  backdrop-filter: blur(3px);
  padding: 20px;
  transition: all 300ms ease-out;
}
#gclass .gclass__card .card__body .body__title {
  color: #fbfbff;
  color: #fbfbff;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}
#gclass .gclass__card .card__body .body__button {
  margin-top: 20px;
}
#gclass .gclass__card .card__body .body__button .body__button--bg {
  color: #fbfbff;
  background-color: #a592dd;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  text-transform: uppercase;
  transition: all 300ms ease-out;
}
#gclass .gclass__card .card__body .body__button .body__button--bg:hover {
  background-color: #4e446e;
}
#gclass .gclass__card:hover .card__body {
  right: 0;
}

@media screen and (max-width: 991px) {
  .gclass__card--3 {
    grid-column: span 2;
  }
}
@media screen and (max-width: 524px) {
  .gclass__card--3 {
    grid-column: span 1;
  }
}

#discount {
  width: 100%;
  height: auto;
  padding: 20px 10%;
}
#discount .discount__container {
  background: url(../img/fondo-horizon.svg) no-repeat center/cover;
  border-radius: 16px;
}
#discount .discount__container .container__content {
  padding: 40px 20px;
  width: 50%;
}
@media screen and (max-width: 774px) {
  #discount .discount__container .container__content {
    width: 100%;
    text-align: center;
  }
}
#discount .discount__container .container__content .content__span {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #a592dd;
  padding: 10px 20px;
  border-radius: 8px;
  color: #fbfbff;
}
@media screen and (max-width: 623px) {
  #discount .discount__container .container__content .content__span {
    font-size: 1rem;
  }
}
#discount .discount__container .container__content .content__title {
  color: #fbfbff;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
}
@media screen and (max-width: 623px) {
  #discount .discount__container .container__content .content__title {
    font-size: 2rem;
  }
}
#discount .discount__container .container__content .content__txt {
  color: #fbfbff;
  font-size: 1.4rem;
  font-weight: 500;
}
@media screen and (max-width: 623px) {
  #discount .discount__container .container__content .content__txt {
    font-size: 1rem;
  }
}
#discount .discount__container .container__content .content__button .content__button--bg {
  color: #fbfbff;
  background-color: #a592dd;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 300ms ease-out;
}
#discount .discount__container .container__content .content__button .content__button--bg:hover {
  background-color: #4e446e;
}
@media screen and (max-width: 623px) {
  #discount .discount__container .container__content .content__button .content__button--bg {
    font-size: 1rem;
  }
}

#pclass {
  width: 100%;
  height: auto;
  padding: 20px 10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
  gap: 20px;
  grid-auto-rows: auto;
}
#pclass .pclass__container {
  background-color: #fbfbff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
  gap: 0;
  grid-auto-rows: auto;
  border-radius: 12px;
}
#pclass .pclass__container .container__content {
  padding: 20px;
}
#pclass .pclass__container .container__content .content__title {
  color: #121213;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}
#pclass .pclass__container .container__content .content__txt {
  color: #121213;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 20px;
}
@media screen and (max-width: 623px) {
  #pclass .pclass__container .container__content .content__txt {
    font-size: 1rem;
  }
}
#pclass .pclass__container .container__content .content__button .content__button--bg {
  color: #fbfbff;
  background-color: #a592dd;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all 300ms ease-out;
}
#pclass .pclass__container .container__content .content__button .content__button--bg:hover {
  background-color: #4e446e;
}
@media screen and (max-width: 623px) {
  #pclass .pclass__container .container__content .content__button .content__button--bg {
    font-size: 1rem;
  }
}
#pclass .pclass__container .container__img .img__rtx4090 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: rotate(90deg);
}
@media screen and (max-width: 749px) {
  #pclass .pclass__container .container__img .img__rtx4090 {
    transform: rotate(0);
  }
}
#pclass .pclass__container .container__img .img__playstation {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#classification {
  width: 100%;
  height: auto;
  padding: 20px 10%;
}
#classification .classification__title {
  font-size: 2rem;
  color: #121213;
  text-transform: uppercase;
  font-weight: 600;
}
@media screen and (max-width: 630px) {
  #classification .classification__title {
    font-size: 1.6rem;
  }
}
#classification .classification__class {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
  gap: 20px;
  grid-auto-rows: 150px;
  margin-top: 20px;
}
#classification .classification__class .class__button {
  color: #121213;
  background-color: #fbfbff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 300ms ease-out;
}
#classification .classification__class .class__button:hover {
  background-color: #a7a6b3;
}
#classification .classification__class .class__button .class__button--img {
  width: 50px;
}

.products__container {
  width: 100%;
  height: 100%;
  padding: 0 10%;
}
@media screen and (max-width: 767px) {
  .products__container {
    text-align: center;
  }
}
.products__container .container__title {
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  color: #121213;
}
.products__container .container__content .content__col .col__card {
  border-radius: 8px;
}
.products__container .container__content .content__col .col__card .card__img {
  padding: 40px;
}
.products__container .container__content .content__col .col__card .card__body .body__title {
  text-transform: uppercase;
  font-weight: 700;
}
.products__container .container__content .content__col .col__card .card__body .body__txt {
  font-weight: 500;
}
.products__container .container__content .content__col .col__card .card__price {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}
.products__container .container__content .content__col .col__card .card__price .price__title {
  font-weight: 700;
}
.products__container .container__content .content__col .col__card .card__price .price__button .price__button--bg {
  color: #fbfbff;
  background-color: #a592dd;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all 300ms ease-out;
}
.products__container .container__content .content__col .col__card .card__price .price__button .price__button--bg:hover {
  background-color: #4e446e;
}

#subscription {
  width: 100%;
  height: auto;
  padding: 40px 0;
  background-color: #121213;
}
#subscription .subscription__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
}
#subscription .subscription__container .container__title {
  color: #fbfbff;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (max-width: 623px) {
  #subscription .subscription__container .container__title {
    font-size: 2rem;
  }
}
#subscription .subscription__container .container__txt {
  color: #fbfbff;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
}
@media screen and (max-width: 623px) {
  #subscription .subscription__container .container__txt {
    font-size: 1rem;
  }
}
#subscription .subscription__container .container__form {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
#subscription .subscription__container .container__form .form__email .email__txt {
  font-size: 1rem;
  text-transform: uppercase;
  color: #fbfbff;
  margin: 20px;
}
@media screen and (max-width: 604px) {
  #subscription .subscription__container .container__form .form__email .email__txt {
    margin: 20px 0;
  }
}
#subscription .subscription__container .container__form .form__email .email__address {
  padding: 15px 25px;
  border-radius: 8px 0 0 8px;
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  outline: 0;
}
@media screen and (max-width: 604px) {
  #subscription .subscription__container .container__form .form__email .email__address {
    width: 100%;
    border-radius: 8px;
  }
}
#subscription .subscription__container .container__form .form__email--button {
  color: #fbfbff;
  background-color: #a592dd;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0 8px 8px 0;
  border: none;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 300ms ease-out;
}
#subscription .subscription__container .container__form .form__email--button:hover {
  background-color: #4e446e;
}
@media screen and (max-width: 604px) {
  #subscription .subscription__container .container__form .form__email--button {
    width: 100%;
    border-radius: 8px;
    margin-top: 20px;
  }
}

#navbar .navbar .container .sidebar .offcanvas-body .navbar-nav .nav-item .nav-link-bg {
  text-transform: uppercase;
  color: #121213;
}
#navbar .navbar .container .sidebar .offcanvas-body .navbar-nav .nav-item .nav-link-bg:hover {
  color: #5f509f;
}
@media screen and (max-width: 991px) {
  #navbar .navbar .container .sidebar .offcanvas-body .navbar-nav .nav-item .nav-link-bg {
    color: #fbfbff;
  }
}
#navbar .navbar .container .sidebar .offcanvas-body .login .nav-link-bg {
  color: #121213;
  text-transform: uppercase;
}
#navbar .navbar .container .sidebar .offcanvas-body .login .nav-link-bg:hover {
  color: #5f509f;
}
@media screen and (max-width: 991px) {
  #navbar .navbar .container .sidebar .offcanvas-body .login .nav-link-bg {
    color: #fbfbff;
  }
}

#page-product {
  background-color: #eff6fd;
}

.container__products {
  padding: 0 10%;
}
.container__products .products__content {
  background-color: #eff6fd;
}
.container__products .products__content .content__row .content__picture .content__picture--img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width: 991px) {
  .container__products .products__content .content__row .content__picture .content__picture--img {
    height: 400px;
    padding: 10px;
  }
}
.container__products .products__content .content__row .content__col {
  padding: 40px;
}
@media screen and (max-width: 623px) {
  .container__products .products__content .content__row .content__col {
    padding: 20px;
    text-align: center;
  }
}
.container__products .products__content .content__row .content__col .content__details .details__title {
  color: #121213;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-animation: tracking-in-expand 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@media screen and (max-width: 623px) {
  .container__products .products__content .content__row .content__col .content__details .details__title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 424px) {
  .container__products .products__content .content__row .content__col .content__details .details__title {
    font-size: 1.6rem;
  }
}
.container__products .products__content .content__row .content__col .content__details .details__colors {
  padding: 20px 0;
}
.container__products .products__content .content__row .content__col .content__details .details__colors .colors__title {
  color: #121213;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}
@media screen and (max-width: 424px) {
  .container__products .products__content .content__row .content__col .content__details .details__colors .colors__title {
    font-size: 1rem;
  }
}
.container__products .products__content .content__row .content__col .content__details .details__colors .colors {
  padding: 8px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (max-width: 623px) {
  .container__products .products__content .content__row .content__col .content__details .details__colors .colors {
    justify-content: center;
  }
}
.container__products .products__content .content__row .content__col .content__details .details__colors .colors .colors__bg {
  width: 45px;
  height: 45px;
  margin: 0 10px;
  cursor: pointer;
}
.container__products .products__content .content__row .content__col .content__details .details__colors .colors .color1 {
  background-color: #fff;
  border: 1px solid #636363;
}
.container__products .products__content .content__row .content__col .content__details .details__colors .colors .color2 {
  background-color: #181616;
  border: 1px solid #636363;
}
.container__products .products__content .content__row .content__col .content__details .details__colors .colors .color3 {
  background-color: #7aabf5;
  border: 1px solid #636363;
}
.container__products .products__content .content__row .content__col .content__details .details__colors .colors .color4 {
  background-color: #bbaef3;
  border: 1px solid #636363;
}
.container__products .products__content .content__row .content__col .content__price .price__txt {
  color: #121213;
  font-size: 1.4rem;
  font-weight: 600;
}
@media screen and (max-width: 424px) {
  .container__products .products__content .content__row .content__col .content__price .price__txt {
    font-size: 1rem;
  }
}
.container__products .products__content .content__row .content__col .price__cart {
  margin: 20px 0;
  height: 5rem;
}
@media screen and (max-width: 623px) {
  .container__products .products__content .content__row .content__col .price__cart {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.container__products .products__content .content__row .content__col .price__cart .cart__button .cart__button--bg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #fbfbff;
  background-color: #121213;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 300ms ease-out;
}
.container__products .products__content .content__row .content__col .price__cart .cart__button .cart__button--bg:hover {
  background-color: #4e446e;
}
@media screen and (max-width: 424px) {
  .container__products .products__content .content__row .content__col .price__cart .cart__button .cart__button--bg {
    font-size: 1rem;
  }
}
.container__products .products__content .content__row .content__col .content__description .description__item {
  border: none;
  background-color: #eff6fd;
}
.container__products .products__content .content__row .content__col .content__description .description__item .item__button .item__button--title {
  background-color: #eff6fd;
  color: #121213;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
.container__products .products__content .content__row .content__col .description__follow {
  margin-top: 20px;
  display: flex;
  flex-flow: row no-wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 400px) {
  .container__products .products__content .content__row .content__col .description__follow {
    flex-direction: column;
  }
}
.container__products .products__content .content__row .content__col .description__follow .follow__title {
  padding: 20px;
  color: #121213;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
.container__products .products__content .content__row .content__col .description__follow .follow__social {
  padding: 20px;
}
.container__products .products__content .content__row .content__col .description__follow .follow__social .social__icon {
  text-decoration: none;
  color: #121213;
  font-size: 1rem;
  margin: 0 8px;
  line-height: 8px;
}

.products__container .container__offcanvas .offcanvas__button {
  color: #fbfbff;
  background-color: #121213;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 300ms ease-out;
}
.products__container .container__offcanvas .offcanvas__button:hover {
  background-color: #4e446e;
}
.products__container .container__offcanvas .offcanvas__button--bg {
  background-color: rgba(29, 28, 28, 0.6);
  backdrop-filter: blur(10px);
  border: none;
}
.products__container .container__offcanvas .offcanvas__button--bg .offcanvas__header .header__title {
  color: #fbfbff;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px;
}
.products__container .container__offcanvas .offcanvas__button--bg .offcanvas__body .body__nav .nav-item {
  background-color: #fbfbff;
  margin: 10px;
  border-radius: 8px;
  transition: all 300ms ease-out;
}
.products__container .container__offcanvas .offcanvas__button--bg .offcanvas__body .body__nav .nav-item:hover {
  background-color: #a7a6b3;
}
.products__container .container__offcanvas .offcanvas__button--bg .offcanvas__body .body__nav .nav-item .nav-link {
  color: #121213;
  font-size: 1rem;
  font-weight: 600;
}
.products__container .numbers {
  display: flex;
  justify-content: center;
}
.products__container .numbers .numbers__content .page-item .page-link {
  color: #121213;
  font-size: 1rem;
  font-weight: 600;
}
.products__container .numbers .numbers__content .page-item .active {
  background-color: #121213;
  color: #fbfbff;
  border: none;
}

#container__carousel {
  width: 100%;
  height: auto;
  padding: 20px 10%;
}
#container__carousel .carousel__content .content__row .content__col {
  padding: 0;
}
#container__carousel .carousel__content .content__row .content__col .content__slide .slide__indicator {
  left: 0;
  top: auto;
  bottom: -60px;
}
#container__carousel .carousel__content .content__row .content__col .content__slide .slide__indicator button {
  background-color: #121213;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
#container__carousel .carousel__content .content__row .content__col .content__slide .content__box .box__item .box__row {
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  #container__carousel .carousel__content .content__row .content__col .content__slide .content__box .box__item .box__row .box__col {
    margin-top: 20px;
  }
}
#container__carousel .carousel__content .content__row .content__col .content__slide .content__box .box__item .box__row .box__col .box__info {
  background-color: #121213;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  padding: 20px;
  border-radius: 8px;
}
#container__carousel .carousel__content .content__row .content__col .content__slide .content__box .box__item .box__row .box__col .box__info .box__picture .box__picture--img {
  width: 200px;
  height: 150px;
}
#container__carousel .carousel__content .content__row .content__col .content__slide .content__box .box__item .box__row .box__col .box__info .box__button .box__button--title {
  color: #fbfbff;
  color: #fbfbff;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (max-width: 862px) {
  #container__carousel .carousel__content .content__row .content__col .content__slide .content__box .box__item .box__row .box__col .box__info .box__button .box__button--title {
    font-size: 1rem;
  }
}
#container__carousel .carousel__content .content__row .content__col .content__slide .content__box .box__item .box__row .box__col .box__info .box__button .box__button--bg {
  color: #fbfbff;
  background-color: #a592dd;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  text-transform: uppercase;
  transition: all 300ms ease-out;
}
#container__carousel .carousel__content .content__row .content__col .content__slide .content__box .box__item .box__row .box__col .box__info .box__button .box__button--bg:hover {
  background-color: #4e446e;
}
@media screen and (max-width: 862px) {
  #container__carousel .carousel__content .content__row .content__col .content__slide .content__box .box__item .box__row .box__col .box__info .box__button .box__button--bg {
    font-size: 0.8rem;
  }
}

#page-about {
  background-color: #121213;
}

.container-slide {
  width: 100%;
  height: auto;
}
.container-slide .slide {
  width: 100%;
  height: auto;
  padding: 100px 10%;
}
.container-slide .slide1 {
  background-color: #a592dd;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 500px), 1fr));
  gap: 20px;
  grid-auto-rows: auto;
}
.container-slide .slide1 .slide1-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #121213;
  padding: 20px;
  border-radius: 16px;
}
@media screen and (max-width: 991px) {
  .container-slide .slide1 .slide1-info {
    text-align: center;
  }
}
.container-slide .slide1 .slide1-info .slide1-info-title {
  font-family: "Monoton", cursive;
  -webkit-animation: tracking-in-expand 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  color: #fbfbff;
  font-size: 5rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media screen and (max-width: 642px) {
  .container-slide .slide1 .slide1-info .slide1-info-title {
    font-size: 4rem;
  }
}
@media screen and (max-width: 523px) {
  .container-slide .slide1 .slide1-info .slide1-info-title {
    font-size: 3rem;
  }
}
.container-slide .slide1 .slide1-info .slide1-info-txt {
  color: #fbfbff;
  font-size: 1.4rem;
  font-weight: 500;
}
@media screen and (max-width: 642px) {
  .container-slide .slide1 .slide1-info .slide1-info-txt {
    font-size: 1rem;
  }
}
.container-slide .slide1 .slide1-info .slide1-info-btn .slide1-info-button {
  margin-top: 20px;
  color: #121213;
  background-color: #fbfbff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 300ms ease-out;
}
.container-slide .slide1 .slide1-info .slide1-info-btn .slide1-info-button:hover {
  background-color: #4e446e;
  color: #fbfbff;
}
@media screen and (max-width: 523px) {
  .container-slide .slide1 .slide1-info .slide1-info-btn .slide1-info-button {
    font-size: 0.8rem;
  }
}
.container-slide .slide1 .slide1-img {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.container-slide .slide1 .slide1-img .slide1-img-bg {
  width: 100%;
}
.container-slide .slide2 {
  color: #fbfbff;
}
.container-slide .slide2 .slide2-info .slide2-info-txt {
  color: #fbfbff;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
}
@media screen and (max-width: 642px) {
  .container-slide .slide2 .slide2-info .slide2-info-txt {
    font-size: 1rem;
  }
}
.container-slide .slide2 .slide2-cards {
  margin-top: 100px;
}
.container-slide .slide2 .slide2-cards .cards-value {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
  gap: 20px;
  grid-auto-rows: auto;
}
.container-slide .slide2 .slide2-cards .cards-value .cards-value-info {
  background-color: #fbfbff;
  color: #121213;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
}
.container-slide .slide2 .slide2-cards .cards-value .cards-value-info .value-info-img {
  padding: 20px;
}
.container-slide .slide2 .slide2-cards .cards-value .cards-value-info .value-info-des .value-info-des-title {
  color: #121213;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
.container-slide .slide2 .slide2-cards .cards-value .cards-value-info .value-info-des .value-info-des-txt {
  color: #121213;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 20px;
}
.container-slide .slide3 {
  color: #fbfbff;
}
.container-slide .slide3 .slide3-info {
  text-align: center;
}
.container-slide .slide3 .slide3-info .slide3-info-title {
  color: #fbfbff;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (max-width: 642px) {
  .container-slide .slide3 .slide3-info .slide3-info-title {
    font-size: 2rem;
  }
}
.container-slide .slide3 .slide3-info .slide3-info-txt {
  color: #fbfbff;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 40px;
}
@media screen and (max-width: 642px) {
  .container-slide .slide3 .slide3-info .slide3-info-txt {
    font-size: 1rem;
  }
}
.container-slide .slide3 .slide3-cards {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
  gap: 20px;
  grid-auto-rows: auto;
  margin-top: 80px;
}
.container-slide .slide3 .slide3-cards .cards-team {
  text-align: center;
}
.container-slide .slide3 .slide3-cards .cards-team .team-img {
  padding: 40px;
  background-color: #fbfbff;
  border-radius: 16px 16px 0 0;
}
.container-slide .slide3 .slide3-cards .cards-team .team-img .team-img-bg {
  width: 100%;
  border-radius: 50%;
  border: solid 4px #a592dd;
  background-color: #fbfbff;
  padding: 10px;
}
.container-slide .slide3 .slide3-cards .cards-team .team-info {
  padding: 20px;
  background-color: #a592dd;
  border-radius: 0 0 16px 16px;
}
.container-slide .slide3 .slide3-cards .cards-team .team-info .team-info-title {
  color: #fbfbff;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}
.container-slide .slide3 .slide3-cards .cards-team .team-info .team-info-txt {
  color: #fbfbff;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 20px;
}
.container-slide .slide3 .slide3-cards .cards-team .team-info .info-social {
  margin-top: 40px;
}
.container-slide .slide3 .slide3-cards .cards-team .team-info .info-social .info-social-icon {
  text-decoration: none;
  color: #fbfbff;
  height: 45px;
  width: 45px;
  font-size: 1.4rem;
  transition: all 300ms ease-out;
}
.container-slide .slide3 .slide3-cards .cards-team .team-info .info-social .info-social-icon:hover {
  color: #4e446e;
}
.container-slide .slide4 {
  text-align: center;
}
.container-slide .slide4 .slide4-info .slide4-info-title {
  color: #fbfbff;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}
.container-slide .slide4 .slide4-info .slide4-info-txt {
  color: #fbfbff;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 40px;
}
@media screen and (max-width: 642px) {
  .container-slide .slide4 .slide4-info .slide4-info-txt {
    font-size: 1rem;
  }
}
.container-slide .slide4 .slide4-info .slide4-info-span {
  color: #fbfbff;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 60px;
}

#page-contact {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.12'%3E%3Cpolygon fill='%235a5a5a' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%237f7f7f' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%239c9c9c' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23b4b4b4' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23c9c9c9' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23dcdcdc' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23EEE' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.contact .contact__container .container__content .content__col {
  background-color: #4e446e;
  border-radius: 16px 0 0 16px;
  padding: 45px;
}
@media screen and (max-width: 991px) {
  .contact .contact__container .container__content .content__col {
    text-align: center;
    border-radius: 16px 16px 0 0;
    padding: 20px;
  }
}
.contact .contact__container .container__content .content__col .content__title {
  color: #fbfbff;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-animation: tracking-in-expand 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.contact .contact__container .container__content .content__col .content__icon .content__icon--bg {
  height: 3rem;
}
@media screen and (max-width: 991px) {
  .contact .contact__container .container__content .content__col .content__icon .content__icon--bg {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 5rem;
  }
}
.contact .contact__container .container__content .content__col .content__icon .content__icon--bg .content__icon--txt {
  color: #fbfbff;
  font-size: 1rem;
  font-weight: 500;
}
.contact .contact__container .container__content .content__coment {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 45px;
  border-radius: 0 16px 16px 0;
}
@media screen and (max-width: 991px) {
  .contact .contact__container .container__content .content__coment {
    border-radius: 0 0 16px 16px;
  }
}
@media screen and (max-width: 767px) {
  .contact .contact__container .container__content .content__coment {
    padding: 20px;
  }
}
.contact .contact__container .container__content .content__coment .coment__title {
  color: #fbfbff;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-animation: tracking-in-expand 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@media screen and (max-width: 991px) {
  .contact .contact__container .container__content .content__coment .coment__title {
    text-align: center;
  }
}
.contact .contact__container .container__content .content__coment .coment__form .form__title {
  color: #fbfbff;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
.contact .contact__container .container__content .content__coment .coment__form .form__txt {
  color: #121213;
  font-size: 1rem;
  font-weight: 500;
}
.contact .contact__container .container__content .content__coment .coment__form .form__button {
  color: #fbfbff;
  background-color: #121213;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
  border: none;
  padding: 15px 30px;
  transition: all 300ms ease-out;
  text-transform: uppercase;
}
.contact .contact__container .container__content .content__coment .coment__form .form__button:hover {
  background-color: #4e446e;
}

#page-login {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.12'%3E%3Cpolygon fill='%235a5a5a' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%237f7f7f' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%239c9c9c' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23b4b4b4' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23c9c9c9' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23dcdcdc' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23EEE' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 0 10%;
}

.container__login {
  padding: 40px 0;
}
.container__login .login__content {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 16px;
}
.container__login .login__content .content__items .content__picture .content__picture--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container__login .login__content .content__items .content__col .content__login .login__picture .login__picture--icon {
  width: 100px;
}
.container__login .login__content .content__items .content__col .content__login .login__title {
  color: #121213;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-animation: tracking-in-expand 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@media screen and (max-width: 767px) {
  .container__login .login__content .content__items .content__col .content__login .login__title {
    font-size: 2rem;
  }
}
.container__login .login__content .content__items .content__col .login__input .login__input--txt {
  color: #fbfbff;
  font-size: 1rem;
  text-transform: uppercase;
}
.container__login .login__content .content__items .content__col .login__input .login__user {
  background-color: #a592dd;
  border: 8px;
}
.container__login .login__content .content__items .content__col .login__input .login__user .login__user--img {
  width: 30px;
}
.container__login .login__content .content__items .content__col .login__input .login__user--txt {
  color: #121213;
  font-weight: 600;
}
.container__login .login__content .content__items .content__col .login__check .check__txt {
  color: #121213;
  text-transform: capitalize;
  font-weight: 600;
}
.container__login .login__content .content__items .content__col .login__check .check__txt--bg {
  color: #a592dd;
  text-transform: capitalize;
  font-weight: 600;
}
.container__login .login__content .content__items .content__col .login__check .check__input .check__form--txt {
  color: #121213;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}
.container__login .login__content .content__items .content__col .login__check .check__input .check__form--txt {
  color: #121213;
  text-transform: capitalize;
  font-weight: 600;
  transition: all 300ms ease-out;
}
.container__login .login__content .content__items .content__col .login__check .check__input .check__form--txt:hover {
  color: #a592dd;
}
@media screen and (max-width: 420px) {
  .container__login .login__content .content__items .content__col .login__check {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
.container__login .login__content .content__items .content__col .check__form--button {
  color: #fbfbff;
  background-color: #121213;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  padding: "";
  text-transform: capitalize;
  transition: all 300ms ease-out;
}
.container__login .login__content .content__items .content__col .check__form--button:hover {
  background-color: #4e446e;
}
.container__login .login__content .content__items .content__col .login__or .or__position {
  height: 0.9rem;
  display: block;
}
.container__login .login__content .content__items .content__col .login__or .or__position .or__bg {
  color: #121213;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}
.container__login .login__content .content__items .content__col .login__button--google {
  color: #fbfbff;
  background-color: #121213;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  padding: "";
  transition: all 300ms ease-out;
}
.container__login .login__content .content__items .content__col .login__button--google:hover {
  background-color: #4e446e;
}

#starts {
  background-image: linear-gradient(to left top, #100622, #20152e, #1b1323, #19161d, #171618);
  height: 100vh;
}
#starts .starts-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(../../img/stars.svg) no-repeat center center/cover;
  width: 100%;
  height: 100vh;
}
#starts .starts-body .starts-body-title {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 15rem;
  color: #fbfbff;
  position: relative;
  width: 100%;
  z-index: 99;
}
@media screen and (max-width: 584px) {
  #starts .starts-body .starts-body-title {
    font-size: 10rem;
  }
}
@media screen and (max-width: 400px) {
  #starts .starts-body .starts-body-title {
    font-size: 8rem;
  }
}
#starts .starts-body .starts-body-sub {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #fbfbff;
  position: relative;
  width: 100%;
  z-index: 99;
}
@media screen and (max-width: 584px) {
  #starts .starts-body .starts-body-sub {
    font-size: 2rem;
  }
}
#starts .starts-body .starts-body-btn {
  font-family: "Barlow", sans-serif;
  color: #121213;
  background-color: #fbfbff;
  font-size: 1.4rem;
  border-radius: 8px;
  border: none;
  padding: 15px 30px;
  margin-top: 40px;
  text-decoration: none;
  transition: all 300ms ease-out;
  z-index: 99;
}
#starts .starts-body .starts-body-btn:hover {
  background-color: #a592dd;
  color: #fbfbff;
}
@media screen and (max-width: 584px) {
  #starts .starts-body .starts-body-btn {
    font-size: 1rem;
  }
}
@media screen and (max-width: 400px) {
  #starts .starts-body .starts-body-btn {
    font-size: 0.8rem;
  }
}
#starts .starts-objets {
  z-index: 99;
  pointer-events: none;
}
#starts .starts-objets .mando-ps5 {
  width: 200px;
  position: absolute;
  top: 70%;
  left: 40%;
  z-index: 98;
  transform: translateX(-50px);
  animation: mandoLaunch var(--time) linear infinite both running;
}
@media screen and (max-width: 991px) {
  #starts .starts-objets .mando-ps5 {
    width: 100px;
    left: 60%;
  }
}
@media screen and (max-width: 400px) {
  #starts .starts-objets .mando-ps5 {
    width: 80px;
    left: 80%;
  }
}
#starts .starts-objets .earth .earth-bg {
  width: 200px;
  position: absolute;
  top: 20%;
  left: 15%;
  z-index: 95;
  animation: earthEspin var(--time) linear infinite both running;
}
@media screen and (max-width: 991px) {
  #starts .starts-objets .earth .earth-bg {
    width: 150px;
    top: 10%;
    left: 10%;
  }
}
@media screen and (max-width: 400px) {
  #starts .starts-objets .earth .earth-bg {
    width: 100px;
    left: 5%;
  }
}
#starts .starts-objets .earth .moon-bg {
  width: 100px;
  position: absolute;
  top: 15%;
  left: 25%;
  z-index: 100;
  animation: moonEspin calc(var(--time) / 2) linear infinite both running;
}
@media screen and (max-width: 991px) {
  #starts .starts-objets .earth .moon-bg {
    width: 80px;
    top: 5%;
    left: 30%;
  }
}
@media screen and (max-width: 400px) {
  #starts .starts-objets .earth .moon-bg {
    width: 40px;
    left: 20%;
  }
}
#starts .starts-objets .robot {
  position: absolute;
  top: 40%;
  right: 5%;
  z-index: 100;
  will-change: transfor;
  animation: robotMove calc(var(--time) / 4) linear infinite both alternate;
}
@media screen and (max-width: 991px) {
  #starts .starts-objets .robot {
    top: 50%;
    right: 10%;
  }
}
#starts .starts-objets .robot .robot-bg {
  width: 500px;
  animation: robotRotate var(--time) linear infinite both alternate;
}
@media screen and (max-width: 991px) {
  #starts .starts-objets .robot .robot-bg {
    width: 300px;
  }
}
@media screen and (max-width: 400px) {
  #starts .starts-objets .robot .robot-bg {
    width: 200px;
  }
}
#starts .glowin-stars .star {
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #fbfbff;
  opacity: 0.2;
  will-change: opacity;
}
#starts .glowin-stars .star:nth-child(1) {
  top: 20%;
  left: 40%;
  animation: glowinStars 1s ease-in-out infinite 0.5s;
}
#starts .glowin-stars .star:nth-child(2) {
  top: 25%;
  left: 57%;
  animation: glowinStars 2s ease-in-out infinite 2s;
}
#starts .glowin-stars .star:nth-child(3) {
  top: 40%;
  left: 25%;
  animation: glowinStars 5s ease-in-out infinite 5s;
}
#starts .glowin-stars .star:nth-child(4) {
  top: 75%;
  left: 80%;
  animation: glowinStars 8s ease-in-out infinite 7s;
}
#starts .glowin-stars .star:nth-child(5) {
  top: 90%;
  left: 60%;
  animation: glowinStars 7s ease-in-out infinite 9s;
}
#starts .glowin-stars .star:nth-child(6) {
  top: 10%;
  left: 60%;
  animation: glowinStars 1s ease-in-out infinite 12s;
}

/*# sourceMappingURL=style.css.map */
