@use 'variables'as v;

.banner {
    background: url(../img/fondo.svg) no-repeat center/cover;
    background-position: 69%;
    height: auto;
    padding: 80px 10%;
    
    .banner__content{
        width: 55%;

        .banner__content_sub{
            font-size: v.$font-subtitle-lg;
            font-weight: v.$font-semibold;
            color: v.$color-one;
            font-family: v.$font-txt;
            text-transform: v.$text-transform;
        }

        .banner_content_title {
            font-family: v.$font-title;
            font-size: v.$font-title-lg;
            color: v.$color-text;
            margin-top: 20px;
            margin-bottom: 40px;
        }

        .banner__content_button {
            padding: v.$button-lg;
            background-color: v.$color-one;
            border-radius: v.$border-radius-lg;
            border: none;
            font-size: v.$font-span-lg;
            text-transform: v.$text-transform;
            margin-bottom: 20px;
            font-weight: v.$font-semibold;
            color: v.$color-text;
            transition: v.$ease-out;
            &:hover {
                background-color: v.$color-three;
            }
        }
    }
}