// font
$font-title:'Monoton', cursive;
$fount-title-2: 'Barlow', sans-serif;
// colors
$colors: (
    "sky" : #eff6fd,
    "black" : #121213,
    "white" : #fbfbff,
    "lavender" : #5f509f,
    "violet" : #a592dd,
    "purple" : #4e446e,
    "grey"  : #a7a6b3
);

// fonts-size
$font-size: (
    "title-lg" : 5rem,
    "title-md" : 4rem,
    "title-sm" : 3rem,
    "sub-title-lg" : 3rem,
    "sub-title-md" : 2rem,
    "sub-title-sm" : 1.6rem,
    "txt-lg" : 1.8rem,
    "txt-md" : 1.4rem,
    "txt-sm" : 1rem,
    "span-lg" : 1.4rem,
    "span-md" : 1rem,
    "span-sm" : 0.8rem
);

$font-weight: (
    "bold" : 700,
    "semibold" : 600,
    "normal" : 500,
);
// text-transform
$text-transform: uppercase;
// buttons 
$button-lg: 15px 100px;
$button-md: 15px 30px;
$button-sm: 10px 20px;
// border-radius
$border-radius-lg: 16px;
$border-radius-md: 12px;
$border-radius-sm: 8px;
// transition
$ease-out: all 300ms ease-out;


